* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html,
body {
	font-family: "Inter", sans-serif;
	color: #f7f7f7;
	background-color: #000;
}

::-webkit-scrollbar {
	display: none;
}
